*{
    box-sizing: border-box;
   
    
}
body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
/**/

.pageTitel{
    text-align: right;
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    color: gray;
}

/* */

.arrowSpan{
    position: relative;
    right:4em;
  

}

/**/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    right: 0;
    background-color: aliceblue;
    max-width: 100%;
}
    #layout.active #menu {
        right: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        right: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/
#main{
        position: relative;
      right: 200px;

    
}
.navBar
{
position: fixed;
right: 0;
left: 0;
z-index: 1000;
width: 90;}
.content {
    
    margin: 0 auto;
    padding: 0 2em;
    max-width: 100%;
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
    height: 100em;


}
/**/
#contactUs,#aboutUs,
#slideShowText{
    
    height: 300px;
  
    border-bottom: 1px solid #eee;
    
    
}

.item-1, 
.item-2, 
.item-3,
.item-4,.item-5,.item-6{
    position: absolute;
    margin-top: 2em;
    display: block;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 3em;
    animation-duration: 22s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1 {
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}
.item-4{
	animation-name: anim-4;
}.item-5{
	animation-name: anim-5;
}.item-6{
	animation-name: anim-6;
}

@keyframes anim-1 {
	0%, 8.3% { right: -100%; opacity: 0; }
  8.3%,25% { right: 25%; opacity: 1; }
  33.33%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { right: -100%; opacity: 0; }
  41.63%, 58.29% { right: 25%; opacity: 1; }
  66.66%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { right: -100%; opacity: 0; }
  74.96%, 91.62% { right: 25%; opacity: 1; }
  100% { right: 110%; opacity: 0; }
}

@keyframes anim-4 {
	0%, 61.62% { left: -100%; opacity: 0; }
 71.62%, 81.62%{ left: 25%; opacity: 1; }
  81.62%,100% { left: 110%; opacity: 0; }
}
@keyframes anim-5 {
	0%, 81.62% { left: -100%; opacity: 0; }
   90%,92.44% { left: 25%; opacity: 1; }
   92.44%,100%{ left: 110%; opacity: 0; }
}
@keyframes anim-6 {
	0%,95% { left: -100%; opacity: 0; }
   95%,99%{ left: 25%; opacity: 1; }
   100%{ left: 110%; opacity: 0; }
}














.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
    box-shadow: 1px 1px grey;
    /*background-color: whitesmoke;*/
 }
    .header h1 {
        margin: 1.5em ;
        font-size: 3em;
        font-weight: 300;
        color: cornflowerblue;
        font-family: 'Noto Nastaliq Urdu Draft', serif;
    }
     .header h2 {
        font-weight: 300;
        color:chocolate;
        padding: 0;
        margin-top: 0;
         font-family: 'Noto Kufi Arabic', sans-serif;
    }





















.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
/*مكان القائمة */
#menu {
    margin-right: -150px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    text-align: right;
   
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: white;
        border: none;
        text-decoration: none;
        
        
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
       
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background:grey;
            text-decoration: none;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    
   
    #menu .pure-menu-heading {
        
        background: #1f8dd6;
        padding: 1em;
        text-align: center;
        font-weight: bold;
        
    }
#menu .pure-menu-selected{
    color: #1f8dd6;
}
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color:whitesmoke;
        }

    /*
    This styles the menu heading.
    */
    .pure-menu-heading {
     font-family: 'Noto Nastaliq Urdu Draft', serif;}
    #menu .pure-menu-heading {
        
        font-size: 110%;
        color: #fff;
        margin: 0;
    }
/* --محاولة تعديل اللون -------------------------------------*/



/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    right: 0; /* زر القائمة وهية صغيرة" */
    background: #000;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        margin: auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        right: 0;
    }
    /* مكان القائمة */ 
    #menu {
        right: 150px;
    }

    .menu-link {
        position: fixed;
        right: 150px;
        display: none;
    }

    #layout.active .menu-link {
        right: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        right: 150px;
    }
}
/**/



/* تسجيل الدخول وانشاء حساب */

.log-in {
  
    margin: auto;
    margin-top: 2em;
    border-radius: 10px 30px;
    box-shadow: 1em 1em 50px grey;
    max-width: 350px;
    background: black;
    padding: 40px;
    color: aliceblue;
    font-family: 'Noto Kufi Arabic', sans-serif;
    letter-spacing: 1px;
    opacity: 0.9;
   }
.textField{
    
 text-align: right;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
}

.resetPassword,
.loginLabel{
    float: right;
    margin-top: 1em;
    
}

.buttonLogin{
    margin-left: 2em;
    width: 30%;
    padding: 5px;
    text-align: right;
    background: dodgerblue;
    border-radius: 1em;
    box-shadow: 1px 1px grey;
    margin-top: 2em;
    font-size: 15px;
    cursor: pointer;
    
}
@media screen and (max-width:600px){
    .buttonLogin{
     width: 80%;
    }
}
/* حدول الاحداث بالايفنت مانجمينت*/
.tabelClass ,.tabelClass th{
padding-top: 2em;
height: 50px;
 text-align: right;
font-size: 20px;
}